/* Ensure container is relative to position the arrows correctly */
.relative {
    position: relative;
  }
  
  .slick-prev,
  .slick-next {
    display: none !important; /* Hide default arrows */
  }
  
  .custom-prev,
  .custom-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
  }
  
  .custom-prev {
    left: 10px;
  }
  
  .custom-next {
    right: 10px;
  }
  
  .slick-dots {
    position: absolute;
    bottom: 10px !important;
    width: 100%;
    display: flex !important;
    justify-content: center;
  }
  
  .slick-dots li button:before {
    color: white;
  }
  